<!doctype html>
<title>Files upload</title>
<h2>Select file(s) to upload</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="files[]" multiple="true" autocomplete="off" required>
		</p>
    	<p>
			<input type="submit" value="Upload">
		</p>
    </dl>
</form>

<body class="body">
	<div class="container" align="left">
		<a href="/return-horizontal-files/" target="blank"><button class='btn btn-default'>Horizontal split and Download</button></a>
		<a href="/return-vertical-files/" target="blank"><button class='btn btn-default'>Vertical split and Download</button></a>
   </div>
</body>
