{% extends "base.html" %}

{% block content %}
	<h2>Generate codes</h2>
    <form action="/generate-codes" method="post">
        <p>
            {{ form.count.label }}
            {{ form.count(size=1) }}
            {% for error in form.count.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.prefix.label }}
            {{ form.prefix(size=20) }}
            {% for error in form.prefix.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
		<p>{{ form.submit() }}</p>
		{% if form.codes %}
			{% for code in form.codes %}
				<div><p>{{ code }}</b></p></div>
  			{% endfor %}
		{% endif %}
    </form>
{% endblock %}
